@mixin bg_dark
  background: #393f4f
  box-shadow: 0 0 15px rgba(0, 0, 0, .2)
  border-radius: 4px
  overflow: hidden

@mixin bg_dark_border
  border-bottom: 1px solid #42485a

@mixin bg_light
  background: #fff
  box-shadow: none
  border-radius: 4px
  overflow: hidden

@mixin bg_light_border
  border-bottom: 1px solid #b3c3d1
  
.compose-panel .compose-form
  background-image: url(/system/site_uploads/files/000/000/001/original/72243_RoleplayMonster_LOGO_A_04_cut.png)
  background-size: contain
  background-repeat: no-repeat
  background-position: bottom
  margin-bottom: 5px

.page-header
  background-image: url(/system/site_uploads/files/000/000/001/original/72243_RoleplayMonster_LOGO_A_04_cut.png)
  background-size: contain
  background-repeat: no-repeat
  background-position: right bottom

/*.columns-area__panels__pane--compositional .columns-area__panels__pane__inner,*/
.theme-default

  .public-layout .footer,
  .columns-area__panels__pane__inner .getting-started__footer,
  .public-account-header__tabs__tabs
    @include bg_dark
  
  .columns-area__panels__pane--navigational .columns-area__panels__pane__inner .navigation-panel
    @include bg_dark

    .getting-started__trends

      >div
        @include bg_dark_border

        &:last-child
          border-bottom: 0
  
  &.layout-multiple-columns

    .navigation-bar
      @include bg_dark

    .getting-started__trends
      @include bg_dark

      >div
        @include bg_dark_border

        &:last-child
          border-bottom: 0

  .endorsements-widget
      @include bg_dark

      >div
        @include bg_dark_border

        &:last-child
          border-bottom: 0

  .placeholder-widget
    @include bg_dark

/*.columns-area__panels__pane--compositional .columns-area__panels__pane__inner,*/
.theme-mastodon-light

  .public-layout .footer,
  .columns-area__panels__pane__inner .getting-started__footer,
  .public-account-header__tabs__tabs
    @include bg_light
  
  .columns-area__panels__pane--navigational .columns-area__panels__pane__inner .navigation-panel
    @include bg_light

    .getting-started__trends

      >div
        @include bg_light_border

        &:last-child
          border-bottom: 0
  
  &.layout-multiple-columns

    .navigation-bar
      @include bg_light

    .getting-started__trends
      @include bg_light

      >div
        @include bg_light_border

        &:last-child
          border-bottom: 0

  .endorsements-widget
      @include bg_light

      >div
        @include bg_light_border

        &:last-child
          border-bottom: 0

  .placeholder-widget
    @include bg_light

.theme-default .public-layout .grid-4 .column-2
  background: #282c37
  border-radius: 4px

.app-body,
.public-layout,
.tabs-bar__wrapper,
.columns-area__panels__pane--navigational .columns-area__panels__pane__inner,
.columns-area__panels__pane--navigational .columns-area__panels__pane__inner .flex-spacer
  background-image: url(/system/site_uploads/files/000/000/002/original/Practice_by_Job_Menting.jpg?1575061207)
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  background-attachment: fixed

.public-layout .footer .grid
  padding-left: 5px

.firstpart
  font-family: "Dancing Script", cursive
  color: #078d4e

.lastpart
  font-family: "Dancing Script", cursive
  color: #dd6418
